@* @page "/Cart"
@using Q2.Model;
@model Q2.Pages.CartListModel

@{
    ViewData["Title"] = "Giỏ hàng";

}

<h2>Giỏ hàng</h2>

@if (Model.orders != null && Model.orders.Count > 0)
{
    <table class="table" border="1">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Tên sản phẩm</th>
                <th>Giá đơn vị</th>
                <th>Số lượng</th>
                <th>Tổng cộng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.orders)
            {
                <tr>
                    <td>@order.ProductId</td>
                    <td>@Model.products.Where(x=>x.ProductId == order.ProductId).Select(x=>x.ProductName).FirstOrDefault()</td>
                    <td>@Model.products.Where(x => x.ProductId == order.ProductId).Select(x => x.UnitPrice).FirstOrDefault()</td>
                    <td>@order.Quantity</td>
                    <td>@(order.Quantity * @Model.products.Where(x => x.ProductId == order.ProductId).Select(x => x.UnitPrice).FirstOrDefault())
                    <td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Giỏ hàng của bạn hiện đang trống.</p>
}
 *@